/*определение шрифтов*/
@font-face {
    font-family: 'Geometria';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Geometria.woff);
    src: url(../fonts/Geometria.woff) format('woff');
}
@font-face {
    font-family: 'GeometriaBold';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Geometria-Bold.woff);
    src: url(../fonts/Geometria-Bold.woff) format('woff');
}
@font-face {
    font-family: 'GeometriaLight';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Geometria-Light.woff);
    src: url(../fonts/Geometria-Light.woff) format('woff');
}
@font-face {
    font-family: 'GeometriaMedium';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Geometria-Medium.woff);
    src: url(../fonts/Geometria-Medium.woff) format('woff');
}
/*Глобальные стили*/
body {
    color: #231f20;
    margin: 0;
    padding: 0;
    min-width: 320px;
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #231f20;
}
header {
    padding-bottom: 15px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    z-index: 3;
    display: none;
}
/*Стили хэдера*/
.burger__menu {
    display: none;
}
.mobile-header {
    display: none;
}
.main-menu__list {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.main-menu__list-item {
    display: flex;
    text-transform: uppercase;
    margin-right: 20px;
}
.main-menu__list-item:hover {
    cursor: pointer;
    text-decoration: underline;
}
.main-menu__list-link {
    font-size: 17px;
    font-family: 'GeometriaLight', sans-serif;
}
.logo {
    padding: 15px 0 0 35px;
}
.icons {
    padding-top: 15px;
    width: 50%;
    min-width: 250px;

}
.icon__block {
    display: flex;
    justify-content: flex-end;
}
.icons__icon {
    width: 38px;
    height: 38px;
}
.icons__icon--profile {
    background: url(../img/sprite.png) no-repeat 0 0;
}
.icons__icon--cart {
    background: url(../img/sprite.png) no-repeat -53px 0;
}
.product-counter {
    font-family: 'GeometriaLight', sans-serif;
    font-weight: 600;
    padding-top: 12px;
}
/*Стили главного слайдера-баннера*/
.slider-numbers {
    height: 100%;
    display: flex;
    justify-content: center;
}
.slider-numbers__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider-numbers__list-item {
    padding-bottom: 39px;
    font-size: 20px;
    font-family: 'Geometria', sans-serif;
}
.slider-layer {
    position: relative;
    background-color: #f3f5f9;
}
.main-slider {
    position: relative;
    margin-bottom: 125px;
    top: 45px;
}

.slider-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.slider-info__title {
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.slider-info__logo {
    padding-bottom: 20px;
}
.slider-info__description {
    font-family: 'GeometriaLight', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
}
.slide {
    position: relative;
    top: 25px;
}
.slide img {
    width: 85%;
    padding: 20px 0;
}
.btn {
    display: inline-block;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 7px 25px;
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 16px;
}
.btn:hover {
    cursor: pointer;
}
/*Стили второго блока по разметке*/
.new-products .col-lg-4:nth-child(2) .new-products__item {
    margin-top: 50px;
}
.new-products .col-lg-4:nth-child(2) .new-products__item .new-products__title {
    padding-top: 50px;
}
.new-products .col-lg-4:nth-child(2) .new-products__item .new-products__to-catalog {
    padding-bottom: 40px;
}
.new-products__image {
    display: flex;
    justify-content: center;
}
.new-products__image img {
    width: 80%;
    height: 80%;
}
.new-products__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-products__title {
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.new-products__description {
    font-family: 'GeometriaLight', sans-serif;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: 600;
    text-align: center;
}
.new-products__to-catalog {
    padding-bottom: 50px;
}
.to-catalog__link {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'GeometriaLight', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
/*Стили блока услуг*/
.services {
    background-color: #e6f5ee;
    padding: 0 50px;
    margin-top: 20px;
}
.service {
    padding: 35px 0;
}
.services__description {
    width: 45%;
    text-align: center;
    margin: 0 auto;
    font-family: 'GeometriaLight', sans-serif;
    font-weight: 600;
    padding-top: 10px;
}
.services__icon {
    width: 45px;
    height: 35px;
    margin: 0 auto;
    background: url(../img/sprite_serv.png) no-repeat ;
}
.services__icon--world {
    background-position:  -3px -2px;
}
.services__icon--security-pay {
    background-position: -51px -2px;
}
.services__icon--phone {
    background-position: -100px 0;
}
/*Стили для слайдера хиты продаж*/
.hits-slider {
    margin-top: 70px;
    margin-bottom: 20px;
}
.hits-slider__title {
    text-align: center;
    margin-bottom: 50px;
}
.hits-slider__title-value {
    text-transform: uppercase;
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}
.hits-slider__link {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'GeometriaLight', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.hits-slider__arrow-icon {
   width: 30px;
    height: 50px;
    background: url(../img/arrow.png) no-repeat 0 0;
}
.hits-slider__arrow-icon--left {
    transform: rotate(180deg);
}
.hits-slider__arrow-icon--right {
    float: right;
}
.products-hit {
    display: flex;
    padding: 0 35px;
    margin-bottom: 150px;
}
.control-elements {
    padding: 0 35px;
}
.product-hit {
    width: 20%;
}
.product-hit:last-child {
    margin-right: 0;
}
.product-hit__image img {
    width: 100%;
}
.product-hit__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-hit__brand {
    font-family: 'GeometriaLight', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0 15px 0;
}
.product-hit__name {
    font-family: 'GeometriaMedium', sans-serif;
    padding-bottom: 15px;
    text-align: center;
}
.product-hit__cost {
    font-family: 'GeometriaMedium', sans-serif;
}
/*Стили блока с тремя брендами*/
.about-brand {
    padding: 0 35px;
    background-color: #e6f5ee;
}
.brand-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 130px;
}
.brand-info__logo {
    height: 50px;
}
.brand-info__logo img {
    width: 100%;
}
.brand-info__description {
    width: 60%;
    text-align: center;
    line-height: 25px;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: 'GeometriaLight', sans-serif;
    font-weight: 600;
}
/*Стили бюлока с ссылками на бренды*/
.another-brand {
    margin-top: 130px;
    background-color: #f2f8fc;
    padding: 0 35px;
}
.another-brand__first-brand {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 50px;
}
.first-brand__picture img {
    width: 100%;
}
.first-brand__info {
    position: relative;
    top: 40%;
    text-align: center;
}
.first-brand__info-date, .second-brand__info-date {
    font-family: 'GeometriaMedium', sans-serif;
    padding-bottom: 30px;
}
.first-brand__info-name, .second-brand__info-name {
    text-transform: uppercase;
    font-family: 'GeometriaBold', sans-serif;
    padding-bottom: 10px;
    font-size: 18px;
}
.first-brand__info-more, .second-brand__info-more {
    font-family: 'GeometriaLight', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
}
.another-brand__second-brand {
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 60px;
    background-color: white;
}
.second-brand__info {
    position: relative;
    top: 35%;
    text-align: center;
}
.second-brand__picture img{
    width:  100%;
}
.big-brand {
    margin-top: 50px;
    margin-bottom: 30px;
}

.big-brand__image img {
    width: 100%;
}
.big-brand__more-info {
    width: 22%;
    min-width: 90px;
    height: 25%;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.more-info__icon {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 20%;
    min-width: 25px;
    height: 20%;
    background: url(../img/arrow.png) no-repeat center center;
}
.more-info__brand-name {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'GeometriaBold', sans-serif;
    padding-bottom: 10px;
    font-size: 18px;
}
/*Стили блока все бренды*/
.store-name {
    text-transform: uppercase;
    padding: 80px 0;
    text-align: center;
    font-family: 'GeometriaMedium', sans-serif;
}
.all-brands {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 35px;
}
.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brand {
    width: 20%;
    padding-right: 20px;
    margin-bottom: 20px;
}

.brand__image img {
    width: 100%;
}
/*Стили футера*/
footer {
    background-color: black;
    color: #e9e9e9;
}
footer a {
    color: #e9e9e9;
}
.footer-info__supporting, .footer-info__main {
    padding:  0 35px;
}
.footer-info__main {
    padding-top: 50px;
    padding-bottom: 50px;
}
.subscribe__title {
    font-family: 'Geometria', sans-serif;
    padding-bottom: 10px;
}
.subscribe__checkbox label {
    color: #a3a2a2;
    font-family: 'Geometria', sans-serif;
    font-size: 15px;
    width: 30%;
    min-width: 200px;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 10px;
}
.subscribe__checkbox input[type='checkbox'] {
    position: relative;
    top: -10px;
}
.subscribe__field {
    position: relative;
}
.subscribe__field label {
    position: absolute;
    right: 20%;
    top: 10px;
    font-family: 'Geometria', sans-serif;
}
.subscribe__field input[type='text'] {
    width: 80%;
    height: 35px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
}

.subscribe__field input[type='submit'] {
    position: relative;
    top: 2px;
    width: 20px;
    height: 25px;
    font-size: 0;
    border: 0;
    outline: 0;
    background: black url(../img/arrow-white.png) no-repeat 0 0px;
    background-size: 20px 25px;
}
.menu-about__list-item, .menu-catalog__list-item  {
    font-family: 'Geometria', sans-serif;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.menu-solial__list-item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Geometria', sans-serif;
}
.list-item__name {
    padding-left: 45px;
}
.menu-social__icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    margin-right: 10px;

}
.menu-social__icon--fb {
    background: url(../img/fb.png) no-repeat;
    background-size: 30px 30px;
}
.menu-social__icon--inst {
    background: url(../img/inst.png) no-repeat;
    background-size: 30px 30px;
}
.menu-social__icon--pint {
    background: url(../img/pint.png) no-repeat;
    background-size: 30px 30px;
}
.supporting__copyright {
    text-align: right;
    font-family: 'Geometria', sans-serif;
}
.copyright__company {
    text-transform: uppercase;
}
.footer-info__supporting {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #cfcfcf;
}
.footer-info__logo img {
    max-width: 20%;
}
.supporting__pay-systems {
    width: 50%;
    min-width: 200px;
}
.pay-system__logo {
    width: 73px;
    height: 50px;
}
.pay-system__logo--maestro {
    background: url(../img/pay_systems.png) no-repeat -189px 0;
    background-size: 260px 50px;
}
.pay-system__logo--mastercard {
    background: url(../img/pay_systems.png) no-repeat -96px 0;
    background-size: 260px 50px;
}
.pay-system__logo--visa {
    background: url(../img/pay_systems.png) no-repeat 0 0;
    background-size: 260px 50px;
}
/*Стили для страницы списка товаров*/
.breadcrumbs {
    padding: 0 35px;
    font-family: 'Geometria', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
}
.breadcrumbs > * {
    display: inline-block;
}
.breadcrumbs__crumb:hover {
    text-decoration: underline;
    cursor: pointer;
}
.breadcrumbs__delimiter {
    width: 20px;
    height: 13px;
    background:  url(../img/catalogue_updt.png) no-repeat 4px 3px ;
}
.main-title {
    text-transform: uppercase;
    font-family: 'GeometriaBold', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
/*Стили фильтра*/
.filter {
    padding: 0 35px;
}
.filter-title__value {
    font-family: 'GeometriaMedium', sans-serif;
    text-transform: uppercase;
}
.filter-title__icon {
    display: inline-block;
    width: 23px;
    height: 13px;
    background: url(../img/arrow-open.png) no-repeat 0 0;
    transition: all .5s;
}
.filter-price__filter-title, .filter-category__filter-title,
.filter-brand__filter-title, .filter-color__filter-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 15px;
}
.filter-price__filter-title:hover, .filter-category__filter-title:hover,
.filter-brand__filter-title:hover, .filter-color__filter-title:hover {
    cursor: pointer;
}
.checkbox__enabled {
    position: absolute;
    left: 1px;
    display: none;
    width: 12px;
    height: 8px;
    border: 1px solid black;
    border-right: transparent;
    border-top: transparent;
    transform: rotate(-45deg);
}
.active > .checkbox__enabled {
    display: inline-block;
}
.active-inline > .checkbox__enabled {
    display: inline-block;
}
.checkbox-style__item {
    display: flex;
    justify-content: space-between;
    font-family: 'GeometriaMedium', sans-serif;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.checkbox-style__item:hover {
    cursor: pointer;
}
.checkbox-style__checkbox, .filter-brand__checkbox {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 1px;
    margin-right: 5px;
}
.filter-category__checkbox, .filter-brand__checkbox {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 1px;
    margin-right: 10px;
}
.filter-category__items, .filter-brand__items, .filter-color__color-values {
    display: none;
}
.filter-category__item, .filter-brand__item {
    font-family: 'Geometria', sans-serif;
    padding-bottom: 5px;
}
.filter-category__item:hover, .filter-brand__item:hover {
    cursor: pointer;
}
.filter-color__color-values {
    width: 50%;
}
.filter-color__value {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px 5px 0;
}
.filter-color__value:hover {
    cursor: pointer;
}
.filter-color__value--black {
    background-color: black;
}
.filter-color__value--grey {
    background-color: #737373;
}
.filter-color__value--brown {
    background-color: #704a3d;
}
.filter-color__value--pink{
    background-color: #ffa98c;
}
.filter-color__value--dark-yellow {
    background-color: #a76f00;
}
.filter-color__value--red {
    background-color: #ff0000;
}
.filter-color__value--blue {
    background-color: #006396;
}
.filter-color__value--green {
    background-color: #006b75;
}
/*Стили товаров*/
.catalog-list {
    margin-bottom: 100px;
}
.product {
    margin-right: 25px;
    margin-bottom: 10px;
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 14px;
}
.product__image {
    position: relative;
}
.product__marker {
    position: absolute;
    bottom: 4px;
    left: 15px;
    width: 55px;
    height: 55px;
    text-transform: uppercase;
    font-family: 'GeometriaMedium', sans-serif;
    text-align: center;
    padding-top: 18px;
}
.product__marker--new {
    background-color: #e6f5ee;
}
.product__marker--sale {
    background-color: #ffc3c3;
}
.product__image img {
    width: 100%;
}
.main-info__name-icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-top:  5px;
}
.name-icons__flex-icons {
    display: flex;
    justify-content: flex-end;
}
.name-icons__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/catalog-sprite.png) no-repeat 0 0 ;
    background-size: 40px 17px;
}
.name-icons__icon--favor {
    background-position: 0 0 ;
}
.name-icons__icon--cart {
    background-position: -22px 0 ;
}
.main-info__price {
    padding-bottom: 8px;
}
.price__sale-value {
    display: inline-block;
    background-color: #ffc3c3;
    padding: 1px 5px;
}
.price__old-value {
    text-decoration: line-through;
}
.main-info__size-available {
    padding-bottom:  8px;
}
.rating__star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/star-sprite.png) no-repeat;
    background-size: 45px 18px;
}
.rating__star--yes {
    background-position: 0 0 ;
}
.rating__star--no {
    background-position: -27px 0 ;
}
/*Стили карточки товара*/
.product-cart {
    margin-top: 30px;
}
.product-about {
    font-family: 'Geometria', sans-serif;
}
.product-main-info {
    position: relative;
    background-color: #f3f5f9;
    padding: 40px 65px 0;
}
.zoom-container {
    position: absolute;
    width: 38%;
    height: 72%;
    z-index: 2;
    left: 815px;
    display: none;
}
.product-photos {
    margin-bottom: -160px;
}
.product-photos__main-photo {
    position: relative;
    padding-right: 30px;
}
.product-photos__zoom {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 100px;
    height: 100px;
    background: url(../img/zoom.png) no-repeat;
}
.product-photos__marker {
    position: absolute;
    bottom: 4px;
    left: 25px;
    width: 35px;
    height: 35px;
    text-transform: uppercase;
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 10px;
    background-color: #ffc3c3;
    text-align: center;
    padding-top: 12px;
}
.product-photos__under-photo-info {
    display: flex;
    padding-right: 30px;
}
.under-photo-info__social-block {
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
}
.social-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../img/social-sprite-cart.png) no-repeat 0 0 ;
    background-size: 100px 30px;
    margin-left: 10px;
}
.social-icon--fb {
    background-position: 5px 0 ;
}
.social-icon--inst {
    background-position: -33px 0 ;
}
.social-icon--vk {
    background-position: -72px 0 ;
}
.under-photo-info__brand-logo {
    width: 50%;
    padding-top: 30px;
}
.additional-photos__item {
    padding-bottom: 10px;
}
.product-about__product-photos img {
    width: 100%;
}
.under-photo-info__brand-logo img{
    width: 75%;
}
.product-about__product-characters {
    font-family: 'Geometria', sans-serif;
    padding-left: 40px;
}
.product-characters__product-name {
    padding: 10px 0;
    font-family: 'GeometriaMedium', sans-serif;
}
.product-characters__product-price {
    padding-bottom: 10px;
}
.product-price__value {
    font-size: 24px;
    padding-right: 10px;
}
.product-price__old-value {
    text-decoration: line-through;
    padding-right: 5px;
}
.product-price__sale-value {
    background-color: #ffc3c3;
    padding: 1px 5px;
}
.product-characters__product-article {
    padding-bottom: 5px;
}
.product-characters__product-composition {
    line-height: 15px;
    padding-bottom: 10px;
}
.product-characters__product-color {
    padding-bottom: 7px;
}
.choose-color__color-value {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 10px 5px 5px 0;
}
.choose-color__color-value--black {
    background-color: black;
}
.choose-color__color-value--grey {
    background-color: #737373;
}
.choose-color__color-value--brown {
    background-color: #704a3d;
}
.choose-color__color-value--pink{
    background-color: #ffa98c;
}
.choose-size__size-value {
    display: inline-block;
    margin: 15px 5px 5px 0;
    border: 1px solid black;
    padding: 7px;
    font-size: 12px;
}
.choose-quantity__value {
    display: flex;
}
.choose-quantity__title {
    padding: 15px 0 10px;
}
.choose-quantity__btn, .choose-quantity__value-text {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
}
.choose-quantity__btn {
    background-color: #dbebe8;
}
.choose-quantity__value-text {
    width: 30px;
}
.feedback-block {
    padding-left: 65px;
    padding-right: 130px;
    margin-top: 210px;
}

.feedback-block__feedback {
    margin-bottom: 50px;
}
.feedback__feedback-info {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.feedback__feedback-product-info {
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
    padding-right: 35px;
    font-size: 14px;
    padding-bottom: 15px;
}
.feedback__feedback-text {
    padding-left: 43px;
    text-align: justify;
    font-size: 14px;
}
.feedback-block__title-block, .description__title {
    display: flex;
    text-transform: uppercase;
    padding-bottom: 20px;
    justify-content: space-between;
}
.title-block__arrow-open, .description__title-icon {
    display: inline-block;
    width: 23px;
    height: 13px;
    background: url(../img/arrow-open.png) no-repeat 0 0;
    transition: all .5s;
    position: relative;
    top: 3px;
}
.feedback-info__user-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e6f5ee;
    margin-right: 15px;
}
.feedback-info__user-name, .feedback-info__feedback-date {
    padding-right: 20px;
}
.feedback__feedback-text textarea {
    display: table;
    width: 100%;
    height: 90px;
    border: 1px solid black;
    margin-bottom: 15px;
}
.feedback__feedback-text input[type='submit'] {
    width: 60%;
    height: 36px;
    max-width: 220px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: 'GeometriaBold', sans-serif;
    background-color: #e6f5ee;
}
.product-parameters {
    padding-left: 29px;
    padding-top: 10px;
    padding-right: 60px;
}
.description__title {
    padding: 10px 0;
}
.description__text, .parameters-list {
    font-size: 14px;
    padding-bottom: 10px;
}
.product-parameters__product-add-to {
    display: flex;
    padding-bottom: 5px;
}
.product-add-to__cart {
    width: 70%;
    max-width: 225px;
    background-color: #e6f5ee;
}
.product-add-to__favorite {
    width: 8%;
    max-width: 30px;
    height: 35px;
    margin-left: 10px;
    background: url(../img/catalog-sprite.png) no-repeat 0 3px;
}
.cart__title {
    display: inline-block;
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
    font-family: 'GeometriaBold', sans-serif;
    font-size: 14px;
}
.cart__icon {
    display: inline-block;
    width: 18%;
    height: 24px;
    background: url(../img/catalog-sprite.png) no-repeat -27px 0;
    position: relative;
    top: 4px;
    left: -2px;
}
.product-checkbox {
    position: relative;
}
.product-checkbox .checkbox__enabled {
    left: 0;
    top: -3px;
}
.delivery__delivery-list, .payment__payment-list {
    font-size: 14px;
}
.delivery-list__delivery-item, .payment-list__payment-item {
    padding-right: 20px;
    padding-bottom: 10px;
    display: inline-block;
}
.delivery-item__checkbox, .payment-item__checkbox, .system-item__checkbox {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
    margin-right: 10px;
}
.payment-list__payment-systems {
    display: flex;
    justify-content: space-between;
}
.payment-systems__system-item {
    display: flex;
    align-items: center;
}
.payment-list__payment-item {

}
.payment-list__payment-item:last-child {
    padding-top: 10px;
}
.system-item__system-icon {
    width: 60px;
    height: 30px;
    display: inline-block;
    background: url(../img/pay-systems-sprite.png) no-repeat 0 0;
    background-size: 356px 30px;
}
.system-item__system-icon--yandex {
    background-position: 0 0 ;
}
.system-item__system-icon--visa {
    background-position: -121px 0 ;
}
.system-item__system-icon--maestro {
    background-position:  -214px 0 ;
}
.system-item__system-icon--mastercard {
    background-position: -313px 0 ;
}
.viewed-products {
    display: table;
}
.slider-arrow-block {
    display: flex;
    width: 100%;
    justify-content: center;
}
.viewed-products__title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'GeometriaBold', sans-serif;
    padding-bottom: 30px;
}
.viewed-products__list {
    display: flex;
}
.viewed-products__list .bx-wrapper {
    padding: 0;
}
.product-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.slider-arrow {
    width: 50px;
    height: 50px;
    background: #e6f5ee url(../img/slider-arrow.png) no-repeat 11px;
    background-size: 20px 40px;
}
.slider-arrow--right {
    transform: rotate(180deg);
}
.slide-counter {
    display: none;
}
/*Адаптивность*/
@media (max-width:1200px) {
    .another-brand__second-brand {
        margin-top: 45px;
    }
    .second-brand__info {
        top: 20%;
    }
    .second-brand__info-date {
        padding-bottom: 10px;
    }
    /*Адаптивность списка товаров*/
    .product__marker {
        width: 45px;
        height: 45px;
        padding-top: 14px;
    }
}
@media (max-width: 1100px) {
    .first-brand__info {
        top: 30%;
    }
}
@media (max-width: 992px) {
    header {
        display: none;
    }
    .mobile-header {
        display: flex;
        padding: 15px;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15%;
        min-width: 43px;
        height: 40px;
        padding-bottom: 4px;
        position: relative;
    }
    .burger__menu {
        display: none;
        position: absolute;
        border: 1px solid #e1e1e1;
        z-index: 4;
        top: 0;
        left: -316px;
        width: 315px;
        background-color: white;
        height: 100%;
    }
    .burger-menu__burger-item {
        margin: 20px;
        text-align: left;
        padding-left: 20px;
        padding-top: 10px;
        text-transform: uppercase;
        font-family: 'GeometriaMedium', sans-serif;
    }
    .logo {
        width: 70%;
        padding: 0;
    }
    .logo img {
        display: table;
        margin: 0 auto;
    }
    .burger__line {
        width: 75%;
        max-width: 43px;
        height: 4px;
        background-color: black;
    }
    .icons {
        display: flex;
        width: 15%;
        justify-content: space-around;
        padding-top: 0;
        min-width: 50px;
    }
    .brand-info {
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .another-brand__first-brand {
        margin-top:  -40px;
        margin-right: 0;
    }
    .another-brand__second-brand {
        margin-right: 0;
        margin-bottom: 0;
    }
    .another-brand__second-brand .col-lg-6:nth-child(1) {
        order: 1;
    }
    .first-brand__info {
        position: static;
        padding: 50px 0 70px;
    }
    .second-brand__info {
        position: static;
        padding: 50px 0;
    }
    .big-brand__more-info {
        width: 40%;
        height: 40%;
        top: 50%;
        background-color: rgba(255,255,255, 0.5);
    }
    .more-info__icon {
        background-size: 60%;
    }
    .subscribe__field {
        margin-bottom: 25px;
    }
    .supporting__pay-systems {
        margin-top: 25px;
        width: 20%;
    }
    /*Адаптивность списка товаров*/
    .catalog-list {
        padding: 0 35px;
        padding-right: 10px;
    }
    .catalog-list .col-lg-3:nth-child(2n-1) .product {
        padding-right: 15px;
    }
    .catalog-list .col-lg-3:nth-child(2n) .product {
        padding-left: 15px;
    }

    /*Адаптивность карточки товара*/
    .product-photos__additional-photos {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .additional-photos__item {
        width: 32%;
    }
    .product-photos__marker {
        width: 50px;
        height: 50px;
        font-size: 15px;
        padding-top: 16px;
    }
    .product-photos {
        margin-bottom: 0;
    }
    .product-photos__main-photo {
        padding-right: 0;
    }
    .product-photos__under-photo-info {
        padding-right: 0;
        align-items: baseline;
    }
    .under-photo-info__brand-logo img {
        width: 60%;
    }
    .product-about__product-characters {
        padding-left: 0;
        padding-bottom: 30px;
    }
    .feedback-block {
        padding-right: 30px;
        margin-top: 15px;
    }
    .feedback__feedback-product-info {
        padding-right: 0;
    }
    .product-add-to__cart {
        width: 225px;
    }
    .main-info__rating {
        min-width: 115px;
    }
    .slider-arrow {
        display: none;
    }
    .viewed-products {
        margin: 0 auto;
    }
}
@media (max-width: 992px){
    .main-menu, .icons__icon--profile, .slider-numbers, .hits-slider__arrow-icon {
        display: none;
    }
    .slider-info {
        margin-top: 30px;
        align-items: center;
    }
    .slide {
        margin-top: 40px;
    }
    .slide img {
        margin: 0 auto;
        display: table;
    }
    .new-products__item {
        display: flex;
        flex-direction: column;
    }
    .new-products__info {
        order: 1;
        padding-top: 30px;
    }
    .new-products__to-catalog {
        padding-bottom: 0;
    }
    .new-products .col-lg-4:nth-child(2) .new-products__item .new-products__title {
        padding-top: 0;
    }
    .products-hit {
        display: block;
    }
    .product-hit:nth-child(3), .product-hit:nth-child(4), .product-hit:nth-child(5)  {
        display: none;
    }
    .product-hit {
        width: 48%;
        margin-right: 0;
    }
    .product-hit__articul-value {
        display: block;
    }
    .slide-counter {
        padding: 0 35px;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'GeometriaMedium', sans-serif;
        display: block;
    }
    .about-brand {
        padding-bottom:  50px;
    }
    .all-brands {
        margin-top: 0;
        padding: 0;
    }
    .store-name {
        padding: 30px 0;
    }
    .brand-info__logo img {
        width: 80%;
        display: table;
        margin: 0 auto;
    }
    .brands {
        display: block;
    }
    .brand {
        float: left;
        width: 50%;
        margin-bottom: 0;
        padding-right: 0;
    }
    .brand__image img {
        display: flex;
    }
    .footer-info__main {
        padding: 30px 20px;
    }
    .subscribe__title {
        text-align: center;
    }
    .subscribe__checkbox label {
        width: 200px;
    }
    .subscribe__field input[type='text'] {
        width: 100%;
        height: 40px;
    }
    .subscribe__field input[type='submit'] {
        height: 24px;
        position: absolute;
        top: 12px;
        right: -13px;
        background-size: 14px;
    }
    .subscribe__field label {
        right: 10%;
        top: 18px;
        font-size: 12px;
    }
    .footer__menu-catalog, .footer__menu-about {
        padding-left: 10px;
        padding-top: 30px;
    }
    .menu-catalog__list-item, .menu-about__list-item {
        padding-bottom: 15px;
    }
    .footer-info__supporting {
        border-top: none;
    }
    .footer-info__logo, .supporting__pay-systems {
        display: none;
    }
    .menu-social__list {
        display: flex;
        flex-direction: row;
    }
    .menu-social__icon {
        width: 35px;
        height: 35px;
    }
    .menu-social__icon--fb, .menu-social__icon--inst, .menu-social__icon--pint {
        background-size: 35px 35px;
    }
    .menu-solial__list-item {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .menu-social__list .list-item__name {
        display: none;
    }
    .supporting__copyright {
        text-align: left;
    }
    .bx-viewport .products-hit {
        padding: 0;
    }
    /*Адаптивность списка товаров*/
    .product {
        margin-right: 0;
    }
    .catalog-list {
        padding: 0 35px;
    }


}
@media (max-width: 764px) {
    .catalog-list .col-lg-3.col-md-6.col-sm-12 .product {
        padding: 0;
    }
    .feedback-block {
        padding-right: 65px;
    }
    .product-parameters {
        padding: 0 65px;
    }

    .viewed-products {
        padding: 0;
        margin: 40px auto 0;
    }
}
@media (max-width: 590px) {
    /*Адаптивность карточки*/
    .under-photo-info__brand-logo img {
        width: 70%;
    }
}
@media (max-width: 480px) {
    /*Адаптивность каталога*/
    .main-title {
        margin-top: 30px;
    }
    /*Адаптивность карточки товара*/
    .product-main-info {
        padding: 40px 30px 0;
    }
    .feedback-block, .product-parameters, .viewed-products {
        padding: 0 30px;
    }
    .under-photo-info__brand-logo img {
        width: 90%;
    }
    .product-slider {
        padding: 0;
    }
}
/*Кастомные стили для слайдера*/
.bx-pager-item {
    padding-bottom: 39px;
    font-size: 20px;
    font-family: 'Geometria', sans-serif;
}
.bx-next, .bx-prev {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.bx-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 35px;
}
.hits-slider .bx-pager.bx-default-pager {
    margin: 70px 0 20px 0;
    text-align: center;
    font-family: 'GeometriaMedium', sans-serif;
}
/*Служебные стили*/
.rotate {
    transform: rotate(180deg);
}
.active {
    display: block;
}
.unactive {
    display: none;
}
.active-inline {
    display: inline-block;
}
.active-grey {
    filter: grayscale(100%);
}
